.header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 100px;

    & h1 {
        color: white;
        margin: 20px;
        text-align: center;

        &.name{
            font-size: 40px;
        }

        &.title{
            font-size: 32px;
        }
    }

    & .button-list{
        display: inline-flex;
        flex-wrap: wrap;
        margin-top: 30px;
        gap: 50px;
    }

}

@media only screen and (max-width: 360px){
    .button-list{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}