@import "variables";

.navbar{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    margin: 50px 50px;
    & ul {
        display: inline-flex;
        list-style: none;
        text-decoration: none;
        gap: 30px;
        

        & li {
            & a {
                color: $grey;
                text-decoration: none;

                &:hover{
                    color: white;
                    cursor: pointer;
                }

            }
        }
    }

    & i{
        font-size: 25px;

        &:hover{
            cursor: pointer;
        }
    }
}

@media (max-width: 1023px) {
    .navbar ul.nav-desktop-ul{
      display: none;
    }
}

@media (min-width: 1023px) {
    .navbar i{
      display: none;
    }
}